* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Top-side {
  height: 100vh;
  color: #eceefa;

  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)),
    url("./img/bg.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.cover-img {
  object-fit: cover;
}

.About .Contact {
  background-color: #faf9ff;
}

.about-card {
  background-color: #ffffff;
}


ul.skill {
  list-style-type: circle;
}

.img-port {
  border-radius: 10px;
  max-width: 400px;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .margin-up-button {
    margin-top: 20px;
  }

  .img-port {
    border-radius: 10px;
    margin: 10px auto;
    max-width: 80%;
    max-height: 400px;
    object-fit: cover;
  }
}

.img-src-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url("./img/game.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-src-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url("./img/Doctor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-src-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url("./img/Aniblog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-src-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url("./img/design.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-src-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url("./img/Blog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-button {
  text-decoration: none;
  color: #ffffff;
}

.icon-button:hover {
  color: #343353;
}

.Portfolio  {
  background-color: #EAEAEA;
}

input::placeholder {
  padding-left: 10px;
}